body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E0F7FA;
}
nav ul{
    list-style: none;
    background-color:#4DB6AC;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a:hover{
    color: orangered;
}
h1{
    text-align:center ;
}
.aboatsite{
    /* text-indent: 15px; */
    text-align: center;
    line-height: 1.5rem;
}
th{
    background-color: mediumslateblue;
    border-radius: 5px;
}
td{
    background-color:rgb(162, 147, 247) ;
    border-radius: 5px;
}
.rating{
    font-size: 2rem;
}
.footer{
    background-color: #369e94;
    height: 40px;
    text-align: center;
}
.aboat{
    text-align: justify;
    text-indent: 15px;
}
.box{
    border: 1px solid white;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 3px 3px 4px orangered;
    height: 50px;
    width: 300px;
}
.submit{
    background-color:orange ;
    box-shadow: 2px 2px 2px orangered;
}
.pic{
    display: inline-block;
    border: 2px solid white;
    padding: 20px;
    margin: 20px 40px;
    background-color:white ;
    border-radius: 10px;
    box-shadow: 3px 3px 4px gray;
}
#left{
    margin-left: 350px;
}
.figcaption{
    text-align: center;
}
